# Node
node_modules/
npm-debug.log
.npm/

# Mac / Windows
.DS_Store
Thumbs.db

# Build
/public/assets/css/style.css

# Imagens Brutas e Assets Originais
*.jpeg
*.jpg
src/assets/logo/

/docs

# Lighthouse and Temporary
report_*.json
lighthouse.*
C:\\*
.lighthouse/